{% extends 'admin/change_list.html' %}

{% load i18n admin_static %}
{% load dic_extras %}
{% block object-tools-items %}
<li style='float: left;'>{{total}}
    <a href='/admin/purchase/contract/export_excel_all/?{{preserved_filters|get:"_changelist_filters"}}'>导出结果</a>
</li>
{{ block.super }}

{% endblock %}
{% block result_list %}
<p>
    {% if not cl.total == None %}
    <span style='color:black'>合同额合计: {{ cl.total }}</span>&nbsp|&nbsp
    {% endif %}
    {% if not cl.payment_total == None %}
    <span style='color:green'>付款合计: {{ cl.payment_total }}</span>&nbsp|&nbsp
    {% endif %}

    {% if not cl.left_total == None %}
    <span style='color:brown'>欠款合计: {{ cl.left_total }}</span>
    {% endif %}

</p>
{{ block.super }}

{% endblock %}
